

*{
  margin-left:0px;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
  
}
main{
  width: 100%;
  padding: 0px;
}
.sidebar{
  background: #393636;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  margin-left:-210px;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
} 
 

/* 
/* For mobile devices */
@media screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    margin-left: 0;
  }
  .bars {
    margin-left: 0;
  }
  .link {
    display: block;
    padding: 15px;
  }
  .link_text {
    display: none;
  }
  .icon {
    font-size: 30px;
  }
}

/* For tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sidebar {
    width: 50%;
    margin-left: -50%;
  }
  .bars {
    margin-left: 0;
  }
  .link {
    display: block;
    padding: 15px;
  }
  .link_text {
    display: none;
  }
  .icon {
    font-size: 30px;
  }
}

/* For desktop devices */
@media screen and (min-width: 1024px) {
  .sidebar {
    width: 200px;
    margin-left: -210px;
  }
  .bars {
    margin-left: 50px;
  }
  .link {
    display: flex;
    padding: 10px 15px;
  }
  .link_text {
    display: block;
  }
  .icon {
    font-size: 20px;
  }
} 
